@import './fonts.css';
* {
    box-sizing: border-box
}
html {
    font-family: 'SF Pro display';
    font-size: 15px;
}
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}
ul, ol {
    padding: 0;
    margin: 0;
}
.page-nav {
    background-color: rgba(45,45,45,0.98);
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 0 8px;
}
.page-nav__menu {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    list-style: none;
}
.page-nav__link {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.page-nav__switcher {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    outline: none;
    font-size: 1rem;
    position: relative;
}
.page-nav__switcher:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    top: 5px;
    left: 0;
    transition: all 200ms;
}
.page-nav__switcher:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 200ms;
} 
.page-nav.opened .page-nav__switcher:before {
    transform: translateY(5px) rotate(45deg);
}
.page-nav.opened .page-nav__switcher:after {
    transform: translateY(-4px) rotate(-45deg);
}
.page-nav__controls {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media (max-width: 767px) {
    .page-nav__controls {
        display: flex;
    }
    .page-nav.opened {
        background-color: black; 
    }
    .page-nav__menu {
        position: absolute;
        top:  50px;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        background-color: black;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 45px;
        display: flex;
        visibility: hidden;
        transition: all 200ms;
        transform: scaleY(0);
        transform-origin: top;
    }
    .page-nav.opened .page-nav__menu {
        visibility: visible;
        transform: scaleY(1);
    }
    .page-nav__link  {
        padding: 15px 0;
        border-bottom: 1px solid #292929;
        opacity: 0;
        transition: opacity 150ms 30ms;
    }
    .page-nav.opened .page-nav__link  {
        opacity: 1;
    }

}
.chapter-vav {
   background: #f6f6f6;
}
.chapter-nav-content {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
}
.chapter-nav-item {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-self: center;
    width: 20vh;
}
.chapter-nav-item_link {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: black;
}
.section-iphone-x {
    background: #f6f6f6;
    max-width: 1980px;
    margin-top: 20px;
    padding-bottom: 64px;
    position: relative;

}
.header-for-book {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 55px;
}
.sub-header-for-book {
    display: block;
    text-align: center;
    font-size: 41px;
    padding-bottom: 10px;
}
.book {
    color: #888;
}
.wrapper-for-book {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.more-information {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.3125rem;
    color: #0070c9;
    position: relative;
}
/* Here is all large pictures */
            /*|*/
.iphone_x_large_2x {
    background-image: url("../../assets/images/lesson_6/iphone_x_large_2x.jpg");
    width: 980px;
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
}

.iphone_8_large_2x {
    background-image: url("../../assets/images/lesson_6/iphone_8_large_2x.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 487px;
    margin: 0 auto;
    display: block;
    margin-top: 64px;
}
.compare-img {
    background-image: url("../../assets/images/lesson_6/compare_large_2x.jpg");
    background-position: center;
    background-size: cover;
    width: 453px;
    display: flex;
    height: 345px;
    margin-top: 32px;
    margin-left: 30px;
}

.ios-large-img {
    background-image: url("../../assets/images/lesson_6/ios_large_2x.jpg");
    background-position: center;
    background-size: cover;
    width: 1041px;
    height: 527px;
    display: flex;
}
            /*|*/
/* Here is all large pictures */
.section-iphone-8 {
    background-color: #f9f0eb;
    margin-top: 20px;
    max-width: 1980px;
    position: relative;
}
.section-compare {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1370px;
    margin: 20px auto;
    position: relative;
}
.more-information__comparing {
    display: flex;
    text-decoration: none;
    font-size: 1.3125rem;
    color: #0070c9;
    position: relative;
}
.more-information:after, .more-information__comparing:after, .more-information__comparing_2:after {
    content: '>';
    color: #0070c9;
    font-size: 1.3125rem;
}

.section-compare h2 {
    font-size: 3.5rem;
}

.comparing-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 150px;
}

.section-big-step {
    position: relative;
    background-color: #FAFAFA;
    width: 1370px;
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    height: 700px;
    align-items: center;
}
.big-step_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    width: 675px;
}

.header-for-big-step {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.sub-header-for-big-step {
    display: block;
    text-align: center;
    font-size: 1.3125rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0 40px;
    font-weight: 100;
}

.wrapper-for-book_2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 350px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.airpods_accessories {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1370px;
    margin: 0 auto;
    justify-content: space-between;
}
.airpods-container {
    position: relative;
    padding-top: 60px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 670px;
    height: 550px;
    background-image: url("../../assets/images/lesson_6/airpods_large_2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.accessories-container {
    position: relative;
    padding-top: 60px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    width: 670px;
    height: 550px;
    background-image: url("../../assets/images/lesson_6/accessories_large_2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-for-acs {
    display: block;
    text-align: center;
    font-size: 1.6875rem;
}
.sub-header-for-acs {
    display: block;
    font-size: 2.5rem;
    text-align: center;
}

.section-compare_2 {
    position: relative;
    width: 1370px;
    background-image: url("../../assets/images/lesson_6/howtoshoot_large_2x.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
.comparing-info_2 {
    display: flex;
    color: #fff;
    text-align: center;
    flex-direction: column;
    font-size: 3.5rem;

}
.more-information__comparing_2 {
    display: flex;
    text-decoration: none;
    font-size: 1.3125rem;
    color: #0070c9;
    position: relative;
    margin: 0 auto;
    padding-top: 12px;
}
.safety_paypass {
    position: relative;
    width: 1370px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    justify-content: space-between;
}
.paypass-container {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 670px;
    height: auto;
    background: #f6f6f6;
}
.safety-container {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 670px;
    height: auto;
    background: #f6f6f6;
}
.header-for-adv {
    display: block;
    text-align: center;
    font-size: 1.6875rem;
}
.sub-header-for-adv {
    display: block;
    font-size: 2.5rem;
    text-align: center;
}
.paypass-safety_additional {
    text-align: center;
    padding: 21px 0;
    font-size: 1.3125rem;
    width: 620px;
    margin: 0 auto;
}
.paypass_img {
    height: 428px;
    background-image: url("../../assets/images/lesson_6/apple_pay_large_2x.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 42px;
}
.safety_img {
    height: 428px;
    background-image: url("../../assets/images/lesson_6/icloud_large_2x.jpg");
    background-size: 650px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 42px;
}
footer {
    background: #f2f2f2;
    height: 160px;
}
.footer-content {
    width: 100%;
    margin: 0 auto;
}
.all-rights-reserved {
    display: block;
    position: relative;
    color: #9b9b9b;
    font-size: 0.9rem;
    padding-top: 18px;
    padding-bottom: 18px;
}
.wrapper-for-f_l {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer_link {
    display: flex;
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    border-right: 1px solid #d6d6d6;
    margin-right: 16px;
    padding-right: 16px;
}
.footer_link.last_link {
    border: none;
}

.wrapper-for-pp_sf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1370px;
}

@media screen and (max-width: 1200px) {
    .safety_paypass {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .paypass-container {
        width: 45vh;
        justify-content: center;
    }
    .safety-container {
        width: 45vh;
        justify-content: center;
    }
    .paypass {
        display: flex;
    }
    .paypass_img {
        background-position: center;
        background-size: cover;
        width: 383px;
        height: 235px;
    }
    .safety_img {
        background-position: center;
        background-size: cover;
        width: 378px;
        height: 204px;
    }
    .sub-header-for-adv {
        font-size: 25px;
        text-align: center;
    }
    .paypass-safety_additional {
        font-size: 18px;
        width: 45vh;
    }
    .section-iphone-x {
        max-width: 1200px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .section-iphone-8 {
        max-width: 1200px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .iphone_x_large_2x {
        background-image: url("../../assets/images/lesson_6/iphone_x_medium.jpg");
        width: 640px;
        background-position: center;
        background-size: cover;
        height: 136px;
        margin: 0 auto;
        display: block;
        margin-top: 64px;
        }
    .iphone_8_large_2x {
        background-image: url("../../assets/images/lesson_6/iphone_8_medium_2x.jpg"); 
        background-position: center;
        background-size: cover;
        width: 498px;
        height: 399px;
        margin: 0 auto;
        display: block;
        margin-top: 64px;
        }
    .section-compare {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100vh;
    }
    .comparing-info {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .compare-img {
        background-image: url("../../assets/images/lesson_6/compare_large_2x.jpg");
        background-position: center;
        background-size: cover;
        width: 391px;
        display: flex;
        height: 298px;
        margin: auto;
        margin-top: 30px;    
    }
    .more-information__comparing {
        display: block;
        text-align: center;
    }
    .section-big-step {
        background-color: #FAFAFA;
        width: 80%;
        display: flex;
        margin: 20px auto;
        flex-direction: column;
        height: 700px;
        align-items: center;
    }
    .ios-large-img{
        background-image: url('../../assets/images/lesson_6/ios_medium_2x.jpg');
        width: 390px;
        height: 327px;
    }
    .airpods_accessories {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
    }
    .accessories-container {
        margin-top: 20px;
        background-position: center;
        background-size: cover;
    }
    .section-compare {
        width: 80%;
        text-align: center;
        position: relative;
    }
    .section-compare_2 {
        width: 100%;
        max-width: 1200px;
    }
    .safety {
        display: flex;
        margin-top: 20px;
        height: 577px;
    }
}
@media screen and (max-width: 768px) {
    .section-iphone-x {
        max-width: 768px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .safety_paypass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .paypass {
        display: flex;
    }
    .paypass_img {
        background-position: center;
        background-size: cover;
        width: 383px;
        height: 235px;
    }
    .safety_img {
        background-position: center;
        background-size: cover;
        width: 378px;
        height: 204px;
    }
    .section-compare_2 {
        width: 100%;
        max-width: 768px;
        height: 70vh;
    }
    .comparing-info_2 > h2 {
        font-size: 50px;
    }
    .section-iphone-8 {
        max-width: 768px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .iphone_x_large_2x {
        width: 335px;
        height: 71px;
        margin: 0 auto;
        display: block;
        margin-top: 64px;
        background-position: center;
        background-size: cover;
    }
    .iphone_8_large_2x {
        background-image: url("../../assets/images/lesson_6/iphone_8_medium_2x.jpg"); 
        background-position: center;
        background-size: cover;
        width: 325px;
        height: 259px;
        margin: 0 auto;
        display: block;
        margin-top: 64px;
        }
    .iphone-x_content {
        max-width: 328px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    .compare-img {
        background-image: url("../../assets/images/lesson_6/compare_large_2x.jpg");
        background-position: center;
        background-size: cover;
        width: 320px;
        display: flex;
        height: 245px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .comparing-info {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .section-compare {
        max-width: 328px;
        width: 100%;
    }
    .wrapper-for-book {
        flex-direction: column;
        text-align: center;
        padding-right: 24px;
    }
    .sub-header-for-book {
        font-size: 31px;
    }
    .section-big-step {
        background-color: #FAFAFA;
        display: flex;
        margin: 20px auto;
        flex-direction: column;
        height: 582px;
        align-items: center;
        max-width: 328px;
        width: 100%;
    }
    .header-for-big-step {
        font-size: 25px;
        margin-top: 20px;
    }
    .sub-header-for-big-step {
        font-size: 15px;
        width: 330px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-for-acs {
        font-size: 19px;
    }
    .sub-header-for-acs {
        font-size: 25px;
        line-height: 25px;
        color: rgb(64, 209, 7);
    }
    .ios-large-img{
        background-image: url('../../assets/images/lesson_6/ios_medium_2x.jpg');
        width: 303px;
        height: 257px;
    }
    .wrapper-for-book_2 {
        width: 308px;
    }
    .accessories-container {
        margin-top: 20px;
        background-image: url('../../assets/images/lesson_6/accessories_small_2x.jpg');
        width: 100%;
        height: 60%;
        padding-top: 14px;
    }
    .airpods-container {
        background-image: url('../../assets/images/lesson_6/airpods_small.jpg');
        width: 100%;
        height: 60%;
        padding-top: 14px;
    }
    .airpods_accessories {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 328px;
        justify-content: center;
    }
    .safety {
        display: flex;
        margin-top: 20px;
        height: 577px;
    }

}
@media screen and (max-width: 575px) {
    .section-iphone-x {
        max-width: 576px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .safety_paypass {
        display: flex;
        flex-direction: column;
    }
    .paypass {
        width: 100%;
        max-width: 575px;
        margin-left: 6px;
    }
    .safety {
        width: 100%;
        max-width: 575px;
        margin-left: 6px;
    }
    .paypass_img {
        background-position: center;
        background-size: cover;
        width: 365px;
        height: 219px;
    }
    .safety_img {
        background-position: center;
        background-size: cover;
        width: 365px;
        height: 197px;
    }
    .section-compare_2 {
        width: 100%;
        max-width: 575px;
        height: 70vh;
    }
    .comparing-info_2 > h2 {
        font-size: 40px;
    }
    .section-iphone-8 {
        max-width: 576px;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .iphone_x_large_2x {
        width: 335px;
        height: 71px;
        margin: 0 auto;
        display: block;
        margin-top: 64px;
        background-position: center;
        background-size: cover;
    }
    .iphone_8_large_2x {
        background-image: url("../../assets/images/lesson_6/iphone_8_medium_2x.jpg"); 
        background-position: center;
        background-size: cover;
        width: 325px;
        height: 259px;
        margin: 0 auto;
        display: block;
        margin-top: 64px;
        }
    .iphone-x_content {
        max-width: 328px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    .compare-img {
        background-image: url("../../assets/images/lesson_6/compare_large_2x.jpg");
        background-position: center;
        background-size: cover;
        width: 320px;
        display: flex;
        height: 245px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .comparing-info {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .section-compare {
        max-width: 328px;
        width: 100%;
    }
    .wrapper-for-book {
        flex-direction: column;
        text-align: center;
        padding-right: 24px;
    }
    .sub-header-for-book {
        font-size: 31px;
    }
    .section-big-step {
        background-color: #FAFAFA;
        display: flex;
        margin: 20px auto;
        flex-direction: column;
        height: 582px;
        align-items: center;
        max-width: 328px;
        width: 100%;
    }
    .header-for-big-step {
        font-size: 25px;
        margin-top: 20px;
    }
    .sub-header-for-big-step {
        font-size: 15px;
        width: 330px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-for-acs {
        font-size: 19px;
    }
    .sub-header-for-acs {
        font-size: 25px;
        line-height: 25px;
        color: rgb(64, 209, 7);
    }
    .ios-large-img{
        width: 295px;
        height: 252px;
    }
    .wrapper-for-book_2 {
        width: 308px;
    }
    .accessories-container {
        margin-top: 20px;
        background-image: url('../../assets/images/lesson_6/accessories_small_2x.jpg');
        width: 100%;
        height: 60%;
        padding-top: 14px;
    }
    .airpods-container {
        background-image: url('../../assets/images/lesson_6/airpods_small.jpg');
        width: 100%;
        height: 60%;
        padding-top: 14px;
    }
    .airpods_accessories {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 328px;
        justify-content: center;
    }

}

